header {
    font-size: $header-small-size;


    .dash-header__rule {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .dash-header__toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    
    .button-toggle {

        &.dark {
            transform: rotate(180deg);

            path {
                fill: url(#grad1);
            }
        }
        
        path {
            fill: hsl(230, 22%, 74%);

            &:hover {
                fill: url(#grad1);
            }
        }
    }

    section {
        h1 {
            color: $text-emphasis-color;
            font-size: $header-large-size;
            margin: 0;
        }

        h2 {
            font-size: $header-small-size;
        }
    }
}