header {
    font-size: $header-small-size;

    .button-toggle {

        &.dark {
            transform: rotate(180deg);
        }
    }

    section {
        h1 {
            color: $text-emphasis-color;
            font-size: $header-large-size;
            margin: 0;
        }

        h2 {
            font-size: $header-small-size;
        }
    }
}