header {

    background-color: var(----header-background-color);
    padding-bottom: 60px;
    font-size: $header-small-size;

    &.dash-header {
        padding-top: 40px;
    }

    .dash-header__rule {
        margin-top: 25px;
        margin-bottom: 10px;
        height: 1px;
        background-color: var(--hr-color);
        border: none;
    }

    .dash-header__toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: var(--text-main-color);
        }
    };
    
    .button-toggle {

        &.dark {
            transform: rotate(180deg);

            path {
                fill: url(#grad);

                &:hover {
                    fill: url(#grad);
                }
            }

        }
        
        path {
            fill:var(--toggle-color);

            &:hover {
                fill: url(#grad-hover);
            }
        }
    }

    section {
        h1 {
            color: var(--text-emphasis-color);
            font-size: $header-medium-size;
            margin: 0 0 8px 0;

        }

        h2 {
            font-size: $header-small-size;
            margin: 0;
        }
    }
}

// s

@media only screen and (min-width: 680px) {
    
    header {

        &.dash-header{
                padding-top: 60px;
        }

        &.dash-header {
    
            .container {
                display: flex;
                justify-content: space-between;
    
                
                .dash-header__toggle {
                    h2 {
                        margin-right: 15px;
                        color: var(--toggle-color);
                    }
                }
                
            }
        }
    }

    
    .dash-header__rule {
        display: none;
    }
}

@media only screen and (min-width: 1300px) {
    .dash-header {
        
        .container {
            section {
                h1 {
                    font-size: $header-largest-size;
                }
            }
        }
    }
}