// a component can be an article, a section in an article, or a div or even a Component in React and can have more then one class name selector in it.

.item {
    font-size: $text-main-size;
    border-radius: 5px;

    .change--up {
        color: $green;
    }
    
    .change--down {
        color: $red;
    }
}


.followers {
    
    .item {
        padding-top: 5px;
        
        &.facebook {
            background-color: $facebook-color;
        }
    
        &.youtube {
            background-color: $youtube-color;
        }
    
        &.twitter {
            background-color: $twitter-color;
        }
    
        &.instagram {
            background: $instagram-color;
        }

        .item__inner {
            background-color: grey;
            border-radius: 0 0 5px 5px;
            justify-content: center;
            grid-row-gap: 0px;
        }

        .item__platform {
            img {
                padding:9px;
            }
        }
    
        .item__platform, .item__change {
            margin: 22px 0 22px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .item__count {
    
            div {
                color: $text-emphasis-color;
                font-size: $text-largest-size;
            }
    
            h1 {
                font-weight: $text-light-weight;
                font-size: $text-main-size;
                text-align: center;
                letter-spacing: $text-wide-space;
            }
        }
    }
}

.overview {
    
    .item {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 50% 50%;
        grid-row-gap: 10px;
        justify-content: space-between;

        background-color: grey;
        padding: 25px 25px 25px 25px;

        div {
            display: flex;
        }

        .item__description {
            h2 {
                font-size: $header-small-size;
                margin-top: 3px;
            }
        }
  
        .item__count {
            font-size: $header-largest-size;
            color: $text-emphasis-color;
            align-items: center;
            padding-bottom: 3px;
        }

        .item__change {
            align-items: flex-end;
            padding-bottom: 7px;
            div {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    margin-right: 2px;
                }
            }
        }

        .item__platform {
            align-items: flex-start;
            justify-content: flex-end;
        }
    }
}


