// a component can be an article, a section in an article, or a div or even a Component in React and can have more then one class name selector in it.


.followers {
    display: grid;
    grid-template-columns: auto;
    
    .item {
        font-size: $text-main-size;
        margin: 10px 0 10px 0;
        border-radius: 5px;
        padding-top: 5px;
        
        &.facebook {
            background-color: $facebook-color;
        }
    
        &.youtube {
            background-color: $youtube-color;
        }
    
        &.twitter {
            background-color: $twitter-color;
        }
    
        &.instagram {
            background: $instagram-color;
        }

        .item__inner {
            background-color: grey;
            background-origin: padding-box;
            border-radius: 0 0 5px 5px;
        }

        .item__header {
            img {
                padding:9px;
            }
        }
    
        .item__header, .item__change {
            margin: 22px 0 22px 0;
            display: flex;
            align-items: center;
        }
    
        .item__count {
    
            div {
                color: $text-emphasis-color;
                font-size: $text-largest-size;
            }
    
            h1 {
                font-weight: $text-light-weight;
                font-size: $text-main-size;
                text-align: center;
                letter-spacing: $text-wide-space;
            }
        }
    
        .change--up {
            color: $green;
        }
        
        .change--down {
            color: $red;
        }
    }
}

.overview {
    display: grid;
    grid-template-columns: auto;
    
    .item {
        font-size: $text-main-size;
        margin: 10px 0 10px 0;
        border-radius: 5px;
        background-color: grey;
        display: grid;
        grid-template-columns: auto auto;

        h2 {
            font-size: $text-main-size;
        }

        .item__change {
            display: flex;
            align-items: center;
        }
    
        .item__count {
            font-size: $header-large-size;
            color: $text-emphasis-color;
        }
    
        .change--up {
            color: $green;
        }
        
        .change--down {
            color: $red;
        }
    }
}


