.list {
    margin-top: 35px;
    h2 {
        font-size: $header-medium-size;
    }


}

[theme="dark"] {
    .overview {
        h2 {
            color: var(--text-emphasis-color);
        }
    }
}

.list__grid {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 22px;
}


@media only screen and (min-width: 680px) {
    .list__grid {
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }

    .overview {
        margin-top: 50px;

        .overview-list {
            margin-top: 35px;
        }
    }
}

@media only screen and (min-width: 1300px) {
    .list__grid {
        grid-template-columns: 23% 23% 23% 23%;
    }
}