// no selectors
// define variables - themes the app.

// colors
$green: hsl(163, 72%, 41%);
$red: hsl(356, 69%, 56%);
$facebook-color: hsl(208, 92%, 53%);
$twitter-color: hsl(203, 89%, 53%);
$instagram-color: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$instagram-start-color: hsl(37, 97%, 70%);
$instagram-end-color: hsl(329, 70%, 58%);
$youtube-color: hsl(348, 97%, 39%);

$main-background-color: hsl(0, 0%, 100%);
$header-background-color: hsl(225, 100%, 98%);
$item-background-color: hsl(227, 47%, 96%);
$text-main-color: hsl(228, 12%, 44%);
$text-emphasis-color: hsl(230, 17%, 14%);

// font sizes
$text-main-size: 12px;
$text-largest-size: 52px;

// font weights
$text-main-weight: 700;
$text-light-weight: 400;

// text space
$text-wide-space: 5px;